# Flutter build outputs
build/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.packages

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/
ios/Runner/GeneratedPluginRegistrant.*

# Android
android/.gradle/
android/app/build/
android/local.properties

# IDE
.idea/
*.iml
*.ipr
*.iws

# Misc
*.lock
pubspec.lock
.flutter-ephemeral/
